<h2>{{ title }}</h2>

<select [(ngModel)]="handwriting_id">
    <option *ngFor="let handwrite of data" [value]="handwrite.id"> {{handwrite.title}}</option>    
</select>

<select [(ngModel)]="handwriting_size">
    <option *ngFor="let size of font_size" [value]="size.id"> {{size.name}} </option>
</select>

<select [(ngModel)]="handwriting_color">
    <option *ngFor="let color of font_color" [value]="color.id"> {{color.name}} </option>
</select>
     
<br>
<br>

<textarea rows="10" cols="50" [(ngModel)]="text" placeholder="Insert Text Here"></textarea>
<br>

<button (click)="RenderImage()"> Render Image </button>
<div>
    <img src="{{ Final }}" alt="">
</div>









