<md-card>
    <md-card-title><h2> {{ title}} </h2></md-card-title>
    <md-card-subtitle> <h4 class="subtitle"> Angular 4 App with Handwriting.io API </h4> </md-card-subtitle>   



<md-select class="select" [(ngModel)]="handwritingId" required>
    <md-option *ngFor="let handwrite of data" [value]="handwrite.id"> {{handwrite.title}}</md-option>    
</md-select>

<md-select class="select" [(ngModel)]="handwritingSize" required>
    <md-option *ngFor="let size of font_size" [value]="size.id"> {{size.name}} </md-option>
</md-select>

<md-select class="select" [(ngModel)]="handwritingColor" required>
    <md-option *ngFor="let color of font_color" [value]="color.id"> {{color.name}} </md-option>
</md-select>

<md-input-container >
   <textarea mdInput rows="5" cols="40" [(ngModel)]="text" placeholder="Insert your text here" class="mdInput" required></textarea>
</md-input-container>

<button md-raised-button (click)="RenderFinalURL()" class="mdInput">Render Image</button>
</md-card>